.siteHeader{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: gray;
    image{
        width: 50px;
    }
    .burgerIcon{
        align-items: center;
        div{
            width: 25px;
            height: 3px;
            background-color: black;
            margin: 5px;
        }
    }
    .navUl{
        display: flex;
        list-style: none;
        .navLi{
            margin-right: 1rem;
            a{
                text-decoration: none;
                color: $beigeColor;
            }
        }
    }
}

// @media (min-width: 600px) {
//         div.hamburger-react{
//            display: none !important;
//         }
    
//     .siteHeader{
//         .navUl{
//             display: flex;
//         }
//     }
// }